body{
    width: 1240px;
    margin: auto;
    background-color: antiquewhite;
    border:1px solid black;
}


/* HEADER SECTION  --- full width  */
.header{
    width: auto;
    height: 150px;
}

.logo{
    margin-left:20px;
    float: left;
}

#login{
    float: right;
    margin: 45px 20px;
    border: none;
    background-color:black ;
    color:white;
}
#login button {
    float: right;
}


/*Navigation */
nav{
    width:auto;
    margin: auto;
}
nav ul li {
    list-style: none;
}

.nav-pills>li>a:hover {
    background-color: coral;
}

/*content*/

.carousel>.thumbnail{
    height: 360px;
}

.tab-info{
    height: 240px;
    background-color: aquamarine;
}