body{
    height: auto;
    background-color:#0e1a35;
/*    border: 1px solid black;*/
}
#dashboard{
    width:auto;
    background-color:#0a1a35;
}

#dashboard > #side-nav > .logo {
    margin-top:20px;
    margin-left:40px;
}
#dashboard > #side-nav >nav ul li a {
    font-family:"Roboto-medium";
    color:!#fff;
    margin:20px;
    font-size: 16px;
}
#dashboard > #side-nav{
    float: left;
    height: auto;
}
#dashboard > #side-nav >nav ul li a span{
    margin-right:25px;
    color:#ccc;   
}



#dashboard>.content{
    float: left;
        padding-top:10px;
    background-color: #f6f7fa;
}

#dashboard>.content > .welcomeBar> div >input {
    float: left;
}
#dashboard>.content >.row{
    margin-top:50px;
}